{% extends 'index_base.html' %}
{% block content %}
    <br>
    <br>
    <br>
    <br>
    <div>
        <div class="card text-center">
            <div class="card-body">
                <form action="/submit" enctype="multipart/form-data" method="POST">
                    <label for="formFileLg" class="form-label">file input example (pcap)</label>
                    <input class="form-control form-control-lg" id="file" name="file" type="file"><br>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-12">
             <div class="container-fluid" id="cpu-data-container">

             </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/highcharts-more.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>

    <script src="/static/js/highcharts.js"></script>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% endblock %}
